{
    "batch": [
        {{range $i := loop $.NoOfEvents }}
        {
            "userId": "{{$.AnonymousID}}",
            "messageId": "{{uuid}}",
            "anonymousId": "{{$.AnonymousID}}",
            "type": "identify",
            "context": {
                "load_run_id": "{{$.LoadRunID}}",
                {{$.AdditionalContext}}
                "traits": {
                    "activation_api_experience": false
                },
                "sessionId": {{nowNano}},
                "app": {
                    "name": "RudderLabs JavaScript SDK",
                    "namespace": "com.rudderlabs.javascript",
                    "version": "3.0.3"
                },
                "library": {
                    "name": "RudderLabs JavaScript SDK",
                    "version": "3.0.3"
                },
                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",
                "os": {
                    "name": "",
                    "version": ""
                },
                "locale": "en-GB",
                "screen": {
                    "width": 1728,
                    "height": 1117,
                    "density": 2,
                    "innerWidth": 1210,
                    "innerHeight": 992
                },
                "campaign": {},
                "page": {
                    "path": "/request-demo/",
                    "referrer": "https://www.rudderstack.com/",
                    "referring_domain": "www.rudderstack.com",
                    "search": "",
                    "title": "Schedule a Quick Demo With RudderStack Team",
                    "url": "https://www.rudderstack.com/request-demo/",
                    "tab_url": "https://www.rudderstack.com/request-demo/",
                    "initial_referrer": "https://www.google.com/",
                    "initial_referring_domain": "www.google.com"
                },
                "timezone": "GMT+0100"
            },
            "channel": "web",
            "originalTimestamp": "{{$.OriginalTimestamp}}",
            "sentAt": "{{$.SentAt}}"
        }{{if lt $i (sub $.NoOfEvents 1)}},{{end}}
        {{- end }}
    ]
}