{
  "type": "page",
  "name": "{{.Name}}",
  "properties": {
    "title": "Home | RudderStack",
    "url": "https://www.rudderstack.com"
  },
  "messageId": "{{.MessageID}}",
  "anonymousId": "{{.AnonymousID}}",
  "channel": "android-sdk",
  "context": {
    "load_run_id": "{{.LoadRunID}}",
    "app": {
      "build": "1",
      "name": "RudderAndroidClient",
      "namespace": "com.rudderlabs.android.sdk",
      "version": "1.0"
    }
  },
  "originalTimestamp": "{{.OriginalTimestamp}}",
  "sentAt": "{{.SentAt}}"
}
