{
    "batch": [
        {{range $i := loop $.NoOfEvents }}
        {
            "type": "track",
            "userId": "{{$.UserID}}",
            "event": "{{$.Event}}",
            "properties": {
                "link_text": "Request demo",
                "target_url": "/request-demo/",
                "click_type": "button",
                "page_title": "The Warehouse Native Customer Data Platform",
                "timezone": {
                    "name": "Europe/Amsterdam"
                },
                "gclid": "",
                "utm_referrer": "",
                "component": "oneColumnContent",
                "portableTextComponent": "button",
                "link": {
                    "url": "/request-demo/",
                    "type": "button",
                    "text": "Request demo"
                },
                "splitTestName": "001_Homepage_Reorder_v1_Web1777",
                "splitTestVariant": "Variant 1",
                "splitTestPath": "/001/",
                "mutiny_experiences": [
                    {
                        "audienceSegment": "All Traffic",
                        "experience": " RJF032 - Homepage headlines v3",
                        "impressionType": "personalized",
                        "page": "https://www.rudderstack.com/",
                        "variationKey": "8b27e962-da43-4d3e-a7fa-1ecf8234dac5",
                        "variationName": "Data Leaders turn customer data into competitive advantage"
                    }
                ],
                "mutiny_visitor": {
                    "data": {
                        "browser": {
                            "device_type": "desktop",
                            "referrer": "https://www.rudderstack.com/",
                            "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36"
                        },
                        "person": {
                            "behavior": {
                                "session_number": 26,
                                "viewed_questionnaires": [],
                                "visited_url": [
                                    {
                                        "query": {},
                                        "token": "aa40e331-7b9d-4bb5-933e-f67d08d2a344",
                                        "url": "https://www.rudderstack.com/"
                                    }
                                ],
                                "conversions": []
                            }
                        },
                        "query": {},
                        "client": {
                            "mode": "default",
                            "disabled": false
                        },
                        "person_identification_token": {},
                        "generated_at": "2024-10-28T09:42:15-07:00",
                        "dynamic_dom_updates": {},
                        "account": {
                            "properties": {},
                            "lists": [],
                            "cleaned_properties": {}
                        }
                    },
                    "token": "c4ffbb17-4576-4a86-be78-55bb72b41fec"
                }
            },
            "context": {
                "traits": {
                    "activation_api_experience": false
                },
                "sessionId": 1730133738278,
                "app": {
                    "name": "RudderLabs JavaScript SDK",
                    "namespace": "com.rudderlabs.javascript",
                    "version": "3.0.3"
                },
                "library": {
                    "name": "RudderLabs JavaScript SDK",
                    "version": "3.0.3"
                },
                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",
                "os": {
                    "name": "",
                    "version": ""
                },
                "locale": "en-GB",
                "screen": {
                    "width": 1728,
                    "height": 1117,
                    "density": 2,
                    "innerWidth": 976,
                    "innerHeight": 992
                },
                "campaign": {},
                "page": {
                    "path": "/001/",
                    "referrer": "https://www.rudderstack.com/",
                    "referring_domain": "www.rudderstack.com",
                    "search": "",
                    "title": "The Warehouse Native Customer Data Platform",
                    "url": "https://www.rudderstack.com/001/",
                    "tab_url": "https://www.rudderstack.com/",
                    "initial_referrer": "https://www.google.com/",
                    "initial_referring_domain": "www.google.com"
                },
                "timezone": "GMT+0100"
            },
            "timestamp": "{{$.Timestamp}}"
        }{{if lt $i (sub $.NoOfEvents 1)}},{{end}}
        {{- end }}
    ]
}